{{#if this.shouldRender}}
  <li>
    {{combo-box
      content=this.statuses
      value=this.currentStatus
      valueAttribute="value"
      onSelect=(action "changeStatus")
      class="topic-unanswered-filter-dropdown"
    }}
  </li>
{{/if}}