{{#if this.shouldRender}}
  <li>
    <ComboBox
      @content={{this.statuses}}
      @value={{this.currentStatus}}
      @valueAttribute="value"
      @onSelect={{this.changeStatus}}
      class="topic-unanswered-filter-dropdown"
    />
  </li>
{{/if}}